.header{
    background-image: linear-gradient(#DDF2D8, #F2DBAE, #F2AF88, #D97D5B);
    height: 100vh;
    padding: 10%;
    
}
.inner-header{
    border: 2px solid white;
    padding: 10%;
}

.header-text{
    margin: auto;  
}

.main-button{
    width: 400px;
    height: 75px;
    font-size: 1.5em;
    border: 1px solid #D97D5B ;
    background:  #D97D5B !important;
    color: white !important;
    margin-top: 20px;
    text-align: center;

}
.main-button:hover, .main-button:visited, .main-button:active, .btn-primary:hover, .btn-primary:active, .btn-primary:visited , .btn-primary:focus{
    border: 1px solid white !important;
    background: transparent !important;
    color: black !important;;
}